<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>My Static Site</title>
  <link rel="stylesheet" href="./css/styles.min.css">
</head>
<body>
  <header>
    <img class="dragon_image" src="./images/mithrond.png" alt="Logo">
    <h1>SplitStack Software Engineering Blog</h1>
  </header>
  <main>
    <%- content %>
  </main>
  <script src="./js/scripts.min.js"></script>
</body>
</html>